<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Contact</title>
    <script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,500" rel="stylesheet">

    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <title>board</title>
    <style>
        body {
            padding-top: 70px;
            padding-bottom: 30px;
        }
    </style>
</head>

<body>
    <article>
        <div id="community">
            <div class="container" role="main">
                <h2>board Form</h2>
                <form role="form" method="post" action="/community_insert">
                    <input name="title" placeholder="제목" class="common-input mb-20 form-control" required=""
                        type="text">
                    <br>
                    <select name="categories" class="common-input mb-20 form-control">
                        <option value="IT">IT</option>
                        <option value="자바스크립트">javascript</option>
                        <option value="Node">node</option>
                        <option value="React">React</option>
                        <option value="mysql">mysql</option>
                    </select>
                    <br>
                    <textarea name="editor1" id="editor1">
                        글을 입력해주세요
                    </textarea>
                    <script>
                        CKEDITOR.replace('editor1');
                    </script>
                    <button type="submit" class="common-input mb-20 form-control">submit</button>
                </form>
                <div>
                </div>
            </div>
        </div>
    </article>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</body>
<script>
    var pk_id = Cookies.get("pk_id")

    var data = {
        pk_id: pk_id,
    }
    //admin에서 member_idp를 등록이 필요해서 pk_id를 post를 같이 해줌
    function send_pk_id() {


        $.ajax({
            url: "/community_insert",
            dataType: "json",
            type: "post",
            data: data,

            success: function (data) {
                var html = ""

            }
        })
    }
</script>

</html>